<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"> </ion-icon>
    </button>
    <ion-title>Insere Relatorio</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <form [formGroup]="formGroup" (ionChange)="updateRuaAll()" (ngSubmit)="insereRelatorio(); $event.preventDefault()">


    <ion-item>
      <ion-label floating>Rua </ion-label>
      <ion-select formControlName="rua">
        <ion-option *ngFor="let  rua of ruas f" [value]="rua.id" [selected]="f">{{rua.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Numero</ion-label>
      <ion-input formControlName="numeroLocal" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Croqui</ion-label>
      <ion-input formControlName="croqui" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Aterro</ion-label>
      <ion-select formControlName="aterro">
        <ion-option value="true">SIM</ion-option>
        <ion-option value="false">NÂO</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Pessoas Atingidas</ion-label>
      <ion-input formControlName="pessoasAtingidas" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Feridos Leves</ion-label>
      <ion-input formControlName="feridosLeves" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Obitos</ion-label>
      <ion-input formControlName="obitos" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Laje</ion-label>
      <ion-input formControlName="laje" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Piso</ion-label>
      <ion-input formControlName="piso" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Declividade</ion-label>
      <ion-input formControlName="declividade" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Talude Natural-Altura</ion-label>
      <ion-input formControlName="taludeNaturalAltura" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Observação</ion-label>
      <ion-input formControlName="observacao" type="text"></ion-input>
    </ion-item>


    <br>
    <br>
    <ion-card>
      <ion-card-header>
        Enviar imagem
      </ion-card-header>
      <ion-item *ngIf="picture">
        <img [src]="picture">
      </ion-item>
      <ion-item>
        <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
      <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>
      </ion-item>
    </ion-card>  
    <br>
    <br>

    <button type="submit" ion-button full>Gravar</button>




  </form>


</ion-content>