

<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"> </ion-icon>
      </button>
    <ion-title>Insere Ocorrencia</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <form [formGroup]="formGroup" (ngSubmit)="insereOco(); $event.preventDefault()">
   
    <ion-item>
      <ion-label floating>Origem Ocorrencia</ion-label>
      <ion-select formControlName="origemOcorrencia" >
        <ion-option value="1">PESSOALMENTE</ion-option>
        <ion-option value="2">VIARADIO</ion-option>
        <ion-option value="3">TEL_156</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo Ocorrencia</ion-label>
      <ion-select formControlName="tipoOcorrencia">
        <ion-option value="1">AA1</ion-option>
        <ion-option value="2">AA2</ion-option>
        <ion-option value="3">AA3</ion-option>

      </ion-select>
    </ion-item>

    
    <ion-item>
      <ion-label floating>Regiao</ion-label>
      <ion-select formControlName="regiao" (ionChange)="updateBairros()" (ionChange)="recuperaFuncionario()" >
        <ion-option *ngFor="let  regiao of regioes;first as f"[value]="regiao.id"[selected]="f">{{regiao.nome}}</ion-option>       
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Bairro</ion-label>
      <ion-select formControlName="bairro" (ionChange)="updateRuas()">
        <ion-option *ngFor="let  bairro of bairros"[value]="bairro.id"[selected]="f">{{bairro.nome}}</ion-option>
        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Rua</ion-label>
      <ion-select formControlName="ruaLocal">
        <ion-option *ngFor="let  rua of ruas"[value]="rua.id"[selected]="f">{{rua.nome}}</ion-option>
        
      </ion-select>
    </ion-item>

    <ion-item>

      <ion-label floating>Numero Local</ion-label>
      <ion-input formControlName="numeroLocal" type="text"></ion-input>


    </ion-item>

    <ion-item>
      <ion-label floating>Historico Inicial</ion-label>
      <ion-input formControlName="historicoInicial" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo Solicitante</ion-label>
      <ion-select formControlName="tipoSolicitante" (ionChange)="presentModal()"  >
        <ion-option value="1">Municipe</ion-option>
        <ion-option value="2">Departamento</ion-option>
        <ion-option value="3">Funcionario</ion-option>

      </ion-select>
    </ion-item>


    
    <ion-item>
      <ion-label floating>Rua Solicitante</ion-label>
      
          <ion-input formControlName="ruaSol"  type="text" ></ion-input>
        
      </ion-item>
 

  


    <ion-item>
      <ion-label floating>Nome Solicitante</ion-label>
      <ion-input formControlName="nomeSolicitante" type="text" (ionChange)="insereRuaSol()"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nomeSolicitante.dirty && formGroup.controls.nomeSolicitante.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Email Solicitante</ion-label>
      <ion-input formControlName="emailSolicitante" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.emailSolicitante.dirty && formGroup.controls.emailSolicitante.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Numero Residencia</ion-label>
      <ion-input formControlName="numeroResidenciaSolicitante" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input formControlName="telefoneSolicitante" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefone Solicitante </ion-label>
      <ion-input formControlName="telefoneSolicitante2" type="text"></ion-input>
    </ion-item>
    <br>
    <br>

    <br>
    <br>

    <button type="submit" [disabled]="formGroup.invalid" ion-button full>Gravar</button>




  </form>


</ion-content>