

<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"> </ion-icon>
      </button>
    <ion-title>Insere Ocorrencia</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <form [formGroup]="formGroup"  (ngSubmit)="insereOco(); $event.preventDefault()">
   
    <ion-searchbar placeholder="Digite Rua Local" (ionInput)="getItems($event)" ></ion-searchbar>
    <ion-item  >
        <ion-label floating >Rua do Local</ion-label>
    <ion-select formControlName="endereco">
        <ion-option  id='label' *ngFor="let rua of ruas;first as f"[value]="rua.id"[selected]="f" >{{rua.nome}}</ion-option>

      
      </ion-select>
      </ion-item>
   

      
     

   
   
    <ion-item>
      <ion-label floating>Origem Ocorrencia</ion-label>
      <ion-select formControlName="origemOcorrencia" >
        <ion-option *ngFor="let  origemOcorrencia of origemOco;first as f"[value]="origemOcorrencia.cod"[selected]="f" >{{origemOcorrencia.descricao}}</ion-option>
       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Tipo Ocorrencia</ion-label>
      <ion-select formControlName="tipoOcorrencia" >
        <ion-option *ngFor="let  tipoOcorrencia of tiposOco;first as f"[value]="tipoOcorrencia.cod"[selected]="f">{{tipoOcorrencia.descricao}}</ion-option>
       
      </ion-select>
    </ion-item>
    

    <ion-item>

      <ion-label floating>Numero Local</ion-label>
      <ion-input formControlName="numeroLocal" type="text"></ion-input>


    </ion-item>

    <ion-item>
      <ion-label floating>Historico Inicial</ion-label>
      <ion-input formControlName="historicoInicial" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo Solicitante</ion-label>
      <ion-select formControlName="tipoSolicitante"  (ionChange)="getDepartamentos()" >
        <ion-option value="1">Municipe</ion-option>
        <ion-option value="2">Departamento</ion-option>
        <ion-option value="3">Funcionario</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Departamento</ion-label>
      <ion-select formControlName="departamento" (ionChange)="chamaRuasSol()" >
        <ion-option *ngFor="let  departamento of departamentos;first as f"[value]="departamento.id"[selected]="f" >{{departamento.nome}}</ion-option>

      </ion-select >
    </ion-item>

    
    
      <ion-searchbar placeholder="Digite  Rua do Solicitante" (ionInput)="getItemsSol($event)" ></ion-searchbar>
      <ion-item>
          <ion-label floating>Rua Solicitante</ion-label>
      <ion-select formControlName="endSolicitante">
          <ion-option *ngFor="let rua of ruasSol;first as f"[value]="rua.id"[selected]="f" >{{rua.nome}}</ion-option>
  
        
        </ion-select>
        </ion-item>
  


    <ion-item>
      <ion-label floating>Nome Solicitante</ion-label>
      <ion-input formControlName="nomeSolicitante" type="text" ></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nomeSolicitante.dirty && formGroup.controls.nomeSolicitante.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Email Solicitante</ion-label>
      <ion-input formControlName="emailSolicitante" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.emailSolicitante.dirty && formGroup.controls.emailSolicitante.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Numero Residencia</ion-label>
      <ion-input formControlName="numeroResidenciaSolicitante" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input formControlName="telefoneSolicitante" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefone Solicitante </ion-label>
      <ion-input formControlName="telefoneSolicitante2" type="text"></ion-input>
    </ion-item>
    <br>
    <br>

    <br>
    <br>

    <button type="submit" [disabled]="formGroup.invalid" ion-button full>Gravar</button>




  </form>


</ion-content>