<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"> </ion-icon>
    </button>
    <ion-title>Insere Fotos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>







  <br>
  <br>
  <ion-card>
    <ion-card-header>
      Enviar imagem
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <br>
      <br>
      <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
      <br>
      <br>
      <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>
      <br>
      <br>
    </ion-item>
  </ion-card>
  <br>
  <br>
  
<form>
  <ion-item>
    <button *ngIf="picture" ion-button outline block (click)="menuRelatorios()">Menu Relatorios</button>
  </ion-item>

</form>
 


</ion-content>