page-relatorios {



    ion-item-divider{

        color:blue;

    }
  
   

    p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-family: arial, sans-serif;
        font-size: 16em;
    }

    #it{

        align-items: center;
    }
}
